body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1, h2 {
    text-align: center;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons button {
    flex: 1 1 25%;
    margin: 5px;
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color:black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button:hover {
    background-color:blue;
}

.geometry-calculator div {
    margin: 10px 0;
}

button {
    margin: 10px 0;
}


